# Si el backend corre en otro puerto/host, cambialo acá.
# En local debería ser:
VITE_API_URL=http://localhost:4000

# ExerciseDB (RapidAPI) - NO subas tu key real
VITE_RAPIDAPI_KEY=
VITE_RAPIDAPI_HOST=exercisedb.p.rapidapi.com
VITE_EXERCISEDB_BASE=https://exercisedb.p.rapidapi.com
