PORT=4000

# Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mi_coleccion_personal

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=mi_coleccion_personal

# (Para más adelante) RapidAPI / ExerciseDB
RAPIDAPI_HOST=exercisedb.p.rapidapi.com
RAPIDAPI_KEY=
