PORT=4000

# Postgres
# Opción 1 (recomendada): cadena completa
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mi_coleccion_personal

# Opción 2 (si preferís por partes)
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=mi_coleccion_personal

# (Para más adelante) RapidAPI / ExerciseDB
RAPIDAPI_HOST=exercisedb.p.rapidapi.com
RAPIDAPI_KEY=
